In [7]:
pip install psycopg2

Collecting psycopg2
  Using cached psycopg2-2.9.10-cp313-cp313-win_amd64.whl.metadata (4.8 kB)
Using cached psycopg2-2.9.10-cp313-cp313-win_amd64.whl (2.6 MB)
Installing collected packages: psycopg2
Note: you may need to restart the kernel to use updated packages.

ERROR: Could not install packages due to an OSError: [WinError 5] Access is denied: 'C:\\Users\\ramab\\OneDrive\\Desktop\\jbooks\\venv\\Lib\\site-packages\\psycopg2\\_psycopg.cp313-win_amd64.pyd'
Check the permissions.


[notice] A new release of pip is available: 25.0.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

In [2]:
order_df = pd.read_csv('tables/orders.csv').sample(10000)

In [3]:
order_df.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
262680,3076236,15933,prior,2,0,11,30.0
2597851,2351923,156389,prior,9,5,11,5.0
1796446,2787092,107901,prior,10,0,17,3.0
2430838,418642,146269,prior,10,1,10,5.0
907546,2972847,54503,prior,6,5,7,1.0

In [4]:
aisles_df = pd.read_csv('tables/aisles.csv')

In [5]:
aisles_df.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [6]:
departments_df = pd.read_csv('tables/departments.csv')
products_df = pd.read_csv('tables/products.csv')

In [7]:
order_products_df = pd.read_csv('tables/order_products__prior.csv').sample(10000)

In [8]:
departments_df.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [9]:
products_df.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [10]:
order_products_df.head()

          order_id  product_id  add_to_cart_order  reordered
2433161     256661       15937                 14          1
5539803     584787        8859                  2          1
23583904   2487306       25466                  1          1
21941621   2314329       16349                 10          1
6537018     689998       19272                  8          0

In [11]:
#connection: programming code to db conncetion
try:
    conn = psycopg2.connect(dbname="ecom_analysis", user='postgres', password='root',port='5432')
except:
    print("Connection failed");

In [12]:
cur = conn.cursor()

In [13]:
engine = create_engine('postgresql+psycopg2://postgres:root@localhost/ecom_analysis')

In [14]:
cur.execute("""
CREATE TABLE aisles (
    aisle_id INTEGER PRIMARY KEY,
    aisle VARCHAR(255)
)
""")

In [15]:
cur.execute("""
CREATE TABLE departments (
    department_id INTEGER PRIMARY KEY,
    department VARCHAR(255)
)
""")

In [16]:
cur.execute("""
CREATE TABLE products (
    product_id INTEGER PRIMARY KEY,
    product_name VARCHAR(255),
    aisle_id INTEGER,
    department_id INTEGER,
    FOREIGN KEY (aisle_id) REFERENCES aisles(aisle_id),
    FOREIGN KEY (department_id) REFERENCES departments(department_id)
)
""")

In [17]:
cur.execute("""
CREATE TABLE orders(
    order_id INTEGER PRIMARY KEY,
    user_id INTEGER,
    order_number INTEGER,
    order_dow INTEGER,
    order_hour_of_day INTEGER,
    days_since_prior_order INTEGER
)
""")

In [18]:
cur.execute("""
CREATE TABLE order_products (
    order_id INTEGER,
    product_id INTEGER,
    add_to_cart_order INTEGER,
    reordered INTEGER,
    PRIMARY KEY (order_id,product_id),
    FOREIGN KEY (order_id) REFERENCES orders (order_id),
    FOREIGN KEY (product_id) REFERENCES products (product_id)
)
""")

In [19]:
conn.commit()

In [24]:
order_df.drop('eval_set',inplace=True, axis=1)

In [20]:
aisles_df.to_sql('aisles',con=engine, if_exists='append',index=False)

134

In [21]:
departments_df.to_sql('departments',con=engine, if_exists='append', index=False)

21

In [22]:
products_df.to_sql('products',con=engine, if_exists='append',index=False)

688

In [25]:
order_df.to_sql('orders', con=engine, if_exists='append', index=False)

1000

In [28]:
order_products_sample_df = order_products_df[order_products_df['order_id'].isin(order_df['order_id'])]

In [36]:
len(order_products_sample_df)

27

In [37]:
len(order_df)

10000

In [38]:
order_products_sample_df.to_sql('order_products',con=engine, if_exists = 'append',index=False)

27